@charset "UTF-8";


html{
	background-color: #9D9FA2;
}

#home_click{
	position: fixed;
}

#home_icon{
	position: absolute;
	z-index: -1;
}

#hover{
	z-index: 1;
	position: relative;
	opacity: 0;
}
#hover:hover{
	opacity: 1;
}

#nav{
	float: right;
	display: grid;
	grid-template-columns: auto auto auto;
    width: 40%;
}

.bios img{
    position: fixed;
	bottom: 0px;
	z-index: -2;
	max-height: 100%;
}

a{
	cursor: pointer;
}