@charset "UTF-8";


html{
	background-color: #424242;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

#head{
	padding: 10px;
	padding-bottom: 20px;
}

#hook, #problem_statement, #character_explanation, #friendship_explanation, #mission_explanation, #stat_explanation{
	padding: 10px;
	background-color: lightgrey;
  }

#intro, #characters, #friendships, #missions, #stats, #stat_text, #powers, #footer{
	display: grid;
	grid-template-columns: 50% 50%;
	position: relative;
	padding: 10px;
  }
#scroll{
  display: grid;
	grid-template-columns: 50% 50%;
	position: relative;
	padding-top: 10px;
}

#map{
	float: left;
	object-fit: contain;
}

#text{
	object-fit: contain;
	padding-left: 10px;
}

#characters, #friendships, #missions, #stats, #powers, #friendship_annotation{
	padding: 10px;
	object-fit: contain;
}

#map_click, #character_click, #friendship_click, #mission_click, #stat_click, #power_click, #instagram_click{
	position: relative;
}

#map_icon, #character_icon, #friendship_icon, #mission_icon, #stat_icon, #stat_window, #power_icon, #power_windows, #instagram_icon{
	position: absolute;
	z-index: -1;
}

#hover{
	z-index: 1;
	position: relative;
	opacity: 0;
}
#hover:hover{
	opacity: 1;
}

#problem_statement{
	display: grid;
	grid-template-columns: 10% 90%;
	position: relative;
  }

#jake{
	padding: 10px;
	float: left;
	position: relative;
}

#jake img{
	position: absolute;
	bottom: 0;
}

#statement{
	padding: 10px;
	padding-left: 30px;
}

#characters{
	padding: 10px;
}

#cast_scroll{
	overflow-y: auto;
	white-space: nowrap;
  }

#cast_scroll > div{
	display: inline-block;
}

#scroll_pride{
	position: absolute;
	bottom: 0;
}

#queer{
	overflow-y: auto;
	white-space: nowrap;
	position: absolute;
	bottom: 2%;
  }

#queer > div{
	display: inline-block;
}

#friendship_bars{
	height: 48%;
	width: 50%;
	overflow-x: auto;
	z-index: 1;
	position: absolute;
	margin-top: 3%;
	padding: 1%;
	padding-left: 2%;
}

#friendship_bars > div{
	float: left;
}

#friendship_bars::-webkit-scrollbar{
	position: relative;
	float: left;
}

#friendship_box{
	position: relative;
	z-index: -1;
}

#friendship_windows{
	padding-top: 10px;
}

#mission_bars{
	height: 63%;
	width: 100%;
	overflow-x: auto;
	z-index: 1;
	position: absolute;
	margin-top: 14%;
	padding: 1%;
	padding-left: 2%;
}

#mission_bars > div{
	float: left;
}

#mission_bars::-webkit-scrollbar{
	position: relative;
	float: left;
}

#mission_box{
	position: relative;
	z-index: -1;
}

#mission_annotation{
	padding-top: 10px;
}

#mission_scroll{
	overflow-y: auto;
	white-space: nowrap;
  }

#mission_scroll > div{
	display: inline-block;
}

#power_ups{
	height: 13%;
	width: 100%;
	overflow-x: auto;
	z-index: 2;
	position: absolute;
	margin-top: 68.5%;
	padding: 1%;
	padding-left: 3%;
}

#power_ups > div{
	float: left;
	padding: 1%;
}

#power_ups::-webkit-scrollbar{
	position: relative;
	float: left;
}

#stat_annotations{
	padding: 10px;
}

#stat_windows{
	overflow-y: auto;
	white-space: nowrap;
	padding: 10px;
  }

#stat_windows > div{
	display: inline-block;
}

#blob3{
	position: absolute;
	bottom: 0;
	padding: 10px;
}

#power_scroll{
	margin-top: 7%;
	margin-left: 1%;
	margin-right: 1%;
	position: absolute;
	overflow-y: auto;
	white-space: nowrap;
	z-index: 1;
  }

#power_scroll > div{
	display: inline-block;
}

#power_window{
	position: relative;
	z-index: -1;
}

#power_gifs{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	position: relative;
}