@charset "UTF-8";


html{
	background-color: #424242;
}

#icons{
    position: fixed;
}

#icons img{
    width: 75%;
}

#home_click, #building_click, #landmark_click{
	position: relative;
}

#home_icon, #building_icon, #landmark_icon{
	position: absolute;
	z-index: -1;
}

#hover{
	z-index: 1;
	position: relative;
	opacity: 0;
}
#hover:hover{
	opacity: 1;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

#map img{
    max-height: 65%;
    max-width: 100%;
    position: fixed;
	bottom: 10px;
}